.vscode
input_database_test.txt
input_database.txt
main
query_result_test.txt
query_result.txt
Test_results.txt
Test_results_50.txt
Test_results_100.txt
Test_results_1000.txt
create_latex_entries.py
Latex_table_body.txt
plots